.frame-7 .image-removebg-preview-20240519-t-0059331 {
  position: absolute;
  left: -296.5px;
  top: 869.5px;
  width: 1169.5px;
  height: 335.5px;
}
.frame-7 .vector {
  position: absolute;
  left: -84px;
  top: 470px;
  width: 372px;
  height: 357px;
}
.frame-7 .vector-1 {
  position: absolute;
  left: -191px;
  top: -123px;
  width: 451px;
  height: 414px;
}
.frame-7 .vector-2 {
  position: absolute;
  top: -58px;
  right: -156px;
  width: 459px;
  height: 436px;
}
.frame-7 .vector-3 {
  position: absolute;
  top: 461px;
  right: -109px;
  width: 395px;
  height: 427px;
}
.frame-7 .medieval-baku {
  position: relative;
  margin: 0 57.3px 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 96px;
  color: #FFFFFF;
}
.frame-7 .the-shirvanshahs-lived-in-baku-twice-throughout-the-middle-ages-first-in-the-12-th-century-when-they-relocated-there-and-then-again-in-the-16-th-century-when-they-transformed-the-area-into-aresidential-town-big-changes-were-brought-about-in-the-city-by-both-occurrences-the-old-city-of-baku-is-still-located-in-the-city-center-where-manuchehr-ill-ordered-the-construction-of-along-castle-encircling-the-city-in-the-fifteenth-century-shirvanshahs-declared-baku-to-be-the-capital-of-azerbaijan-in-the-fifteenth-century-the-architectural-style-of-the-old-city-has-not-altered-since-the-fifteenth-century {
  border-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(#000000, #000000);
  border-image-slice: 1;
  border-width: 1px;
  border-style: solid;
  position: relative;
  margin: 0 0 20px 13.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
.frame-7 .revolution-sitemaker {
  margin: 16px 14.5px 34px 0;
  display: inline-block;
  width: 485.5px;
  overflow-wrap: break-word;
  font-family: 'Imbue';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.frame-7 .back {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-7 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 585.2px;
  box-sizing: border-box;
}
.frame-7 {
  background: radial-gradient(50.07% 50.07% at 50% 49.93%, #B55F0F 0%, #4F2A07 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 22.8px 0 22.8px;
  width: 1052px;
  box-sizing: border-box;
}
