.frame-11 .image-removebg-preview-20240519-t-0059331 {
  position: absolute;
  left: -296.5px;
  top: 869.5px;
  width: 1169.5px;
  height: 335.5px;
}
.frame-11 .vector {
  position: absolute;
  left: -84px;
  top: 470px;
  width: 372px;
  height: 357px;
}
.frame-11 .vector-1 {
  position: absolute;
  left: -225px;
  top: -58px;
  width: 451px;
  height: 414px;
}
.frame-11 .vector-2 {
  position: absolute;
  top: -58px;
  right: -156px;
  width: 459px;
  height: 436px;
}
.frame-11 .vector-3 {
  position: absolute;
  top: 461px;
  right: -108px;
  width: 395px;
  height: 427px;
}
.frame-11 .baku-in-2040 {
  position: relative;
  margin-right: 78.4px;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-11 .the-general-plan-for-baku-covers-a-20-year-perspective-for-further-modernization-and-development-of-the-city-in-multiple-ways-including-capital-construction-polycentric-urban-development-transport-infrastructure-social-infrastructure-utility-systems-and-other-measures-for-site-development-the-general-plan-defines-measures-to-be-implemented-in-all-these-areas-of-development-for-the-capitals-further-modernization-activities-are-planned-in-these-areas-in-order-to-create-and-support-sustainable-development-in-the-capital-and-abeneficial-urban-environment-they-will-include-defining-new-parameters-for-housing-planned-business-zones-for-both-public-and-private-use-public-transport-green-areas-engineering-opportunities-and-facilities {
  border-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(#000000, #000000);
  border-image-slice: 1;
  border-width: 1px;
  border-style: solid;
  position: relative;
  margin: 0 0 80px 2.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.frame-11 .revolution-sitemaker {
  margin: 16px 14.5px 34px 0;
  display: inline-block;
  width: 485.5px;
  overflow-wrap: break-word;
  font-family: 'Imbue';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.frame-11 .back {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-11 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 585.2px;
  box-sizing: border-box;
}
.frame-11 {
  background: radial-gradient(50.07% 50.07% at 50% 49.93%, #B55F0F 0%, #4F2A07 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 22.8px 0 22.8px;
  width: 1052px;
  box-sizing: border-box;
}
