.frame-10 .image-removebg-preview-20240519-t-0059331 {
  position: absolute;
  left: -296.5px;
  top: 869.5px;
  width: 1169.5px;
  height: 335.5px;
}
.frame-10 .vector {
  position: absolute;
  left: -84px;
  top: 470px;
  width: 372px;
  height: 357px;
}
.frame-10 .vector-1 {
  position: absolute;
  left: -191px;
  top: -123px;
  width: 451px;
  height: 414px;
}
.frame-10 .vector-2 {
  position: absolute;
  top: -58px;
  right: -156px;
  width: 459px;
  height: 436px;
}
.frame-10 .vector-3 {
  position: absolute;
  top: 461px;
  right: -108px;
  width: 395px;
  height: 427px;
}
.frame-10 .baku-during-ussr {
  position: relative;
  margin: 0 287.3px 14px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-10 .socialism-was-created-as-apolitical-system-during-the-soviet-union-the-concept-of-communism-was-introduced-to-baku-when-private-ownership-and-control-were-outlawed-and-all-enterprises-were-nationalized-with-its-immense-power-the-communist-party-made-almost-all-of-the-important-decisions-baku-had-amillion-residents-during-the-soviet-union-era-in-the-20-th-century-numerous-construction-projects-such-as-an-underground-transportation-system-were-underway-baku-was-now-amulticultural-metropolis-where-awide-range-of-ethnic-groups-coexisted-peacefully-in-conclusion-throughout-the-soviet-union-baku-society-experienced-tremendous-advancements-in-the-political-economic-social-and-cultural-domains {
  border-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(#000000, #000000);
  border-image-slice: 1;
  border-width: 1px;
  border-style: solid;
  margin: 0 150.4px 59px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
.frame-10 .back {
  margin-top: 565px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-10 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-10 .revolution-sitemaker {
  position: absolute;
  left: 178.8px;
  bottom: 34px;
  overflow-wrap: break-word;
  font-family: 'Imbue';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.frame-10 .container-1 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.frame-10 {
  background: radial-gradient(50.07% 50.07% at 50% 49.93%, #B55F0F 0%, #4F2A07 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 17px 22.8px 0 0;
  width: 1052px;
  box-sizing: border-box;
}
