.frame-2 .pixelcut-export-removebg-preview-1 {
  background: url('../assets/images/pixelcut_export_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  left: -21px;
  top: 41px;
  width: 234px;
  height: 232px;
}
.frame-2 .baku-view {
  margin: 0 259.2px 669px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}
.frame-2 .revolution-sitemaker {
  margin-top: 690px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Imbue';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.frame-2 .container-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-2 .atgah-fire-temple-of-baku-1 {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.frame-2 .atgah-fire-temple-of-baku {
  margin-bottom: 106px;
  display: flex;
  align-self: flex-end;
  box-sizing: border-box;
}
.frame-2 .miniatr-kitab-muzeyi-museum-of-miniature-books-1 {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.frame-2 .miniatr-kitab-muzeyi-museum-of-miniature-books {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.frame-2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-2 .azrbaycan-milli-xala-muzeyi-azerbaijan-national-carpet-museum-1 {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.frame-2 .azrbaycan-milli-xala-muzeyi-azerbaijan-national-carpet-museum {
  position: absolute;
  left: 103px;
  top: 176px;
  display: flex;
  box-sizing: border-box;
}
.frame-2 .container-1 {
  background: url('../assets/images/image_removebg_preview_20240519_t_1529551.png') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: 157px;
  display: flex;
  padding-right: 30.8px;
  width: 696px;
  height: 587px;
  box-sizing: border-box;
}
.frame-2 .image-removebg-preview-20240519-t-0059331 {
  position: absolute;
  right: -86.5px;
  bottom: 29.5px;
  width: 1169.5px;
  height: 335.5px;
}
.frame-2 .qz-qalas-maiden-tower-1 {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}
.frame-2 .qz-qalas-maiden-tower {
  position: absolute;
  top: 322px;
  right: 322.3px;
  display: flex;
  box-sizing: border-box;
}
.frame-2 .back {
  position: absolute;
  right: 25.8px;
  bottom: 5px;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-2 {
  background: radial-gradient(50.07% 50.07% at 50% 49.93%, #B55F0F 0%, #4F2A07 100%);
  padding: 16px 45px 0 45px;
  width: 1052px;
  box-sizing: border-box;
}
