.frame-6 .image-removebg-preview-20240519-t-0059331 {
  position: absolute;
  left: -296.5px;
  top: 869.5px;
  width: 1169.5px;
  height: 335.5px;
}
.frame-6 .vector {
  position: absolute;
  left: -84px;
  top: 470px;
  width: 372px;
  height: 357px;
}
.frame-6 .vector-1 {
  position: absolute;
  left: -163px;
  top: -79px;
  width: 451px;
  height: 414px;
}
.frame-6 .vector-2 {
  position: absolute;
  top: -68px;
  right: -136px;
  width: 459px;
  height: 436px;
}
.frame-6 .vector-3 {
  position: absolute;
  top: 453px;
  right: -66px;
  width: 395px;
  height: 427px;
}
.frame-6 .museum-of-miniature-books {
  position: relative;
  margin: 0 0 6px 38.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-6 .the-baku-museum-of-miniature-books-is-the-only-museum-of-miniature-books-in-the-world-settled-in-the-old-part-of-baku-called-inner-city-the-museum-started-its-operation-on-april-22002-in-2015-the-museum-of-miniature-books-was-presented-the-certificate-of-the-guinness-book-of-records-as-the-largest-private-museum-of-miniature-books {
  border-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(#000000, #000000);
  border-image-slice: 1;
  border-width: 1px;
  border-style: solid;
  position: relative;
  margin: 0 5.4px 83px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
.frame-6 .revolution-sitemaker {
  margin: 26px 14.5px 24px 0;
  display: inline-block;
  width: 488.5px;
  overflow-wrap: break-word;
  font-family: 'Imbue';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.frame-6 .back {
  overflow-wrap: break-word;
  font-family: 'Ingrid Darling';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.frame-6 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  width: 588.2px;
  box-sizing: border-box;
}
.frame-6 {
  background: radial-gradient(50.07% 50.07% at 50% 49.93%, #B55F0F 0%, #4F2A07 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 19.8px 0 19.8px;
  width: 1052px;
  box-sizing: border-box;
}
